﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.Master" AutoEventWireup="true" CodeBehind="about.aspx.cs" Inherits="webAssignmentR.about" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <link href="styles/about.css" rel="stylesheet" />
    <div class="container-fluid w-50">
        <img id="img" src="Images/image3.png" />
        <h1>About
            <br />
            Us</h1>
    </div>
</asp:Content>
