﻿<%@ Page Title="" Language="C#" MasterPageFile="~/main.Master" AutoEventWireup="true" CodeBehind="projects.aspx.cs" Inherits="webAssignmentR.projects" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <link href="styles/projects.css" rel="stylesheet" />
    <div class="container-fluid w-50">
        <img id="img" src="Images/image3.png" />
        <h1>The Best
            <br />
            of ICT.</h1>

        <div class="row">
            <div class="rectangle"></div>
        </div>

    </div>







</asp:Content>
