﻿h1 {
    color: #302384;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #302384;
}

.searchBtn{
    font-size:20px;
    width:10%;
}
.chkBxStyle input[type="checkbox"]{
    margin-left:20px;
}

.boxOutline{
    border: 1px solid black;
    border-radius:20px;
}