﻿h1 {
    color: #302384;
    font-weight: bold;
}

html,body{
    height:100%;
table {
    font-size: 14px;
    color: #302384;
}
.content{
    
   
}

@media (max-width: 600px){
    .wrapper {
        display:flex;
        flex-wrap:wrap;
        line-height:22px;
    }
    .labels{
        text-align:left;
        float:left;
        
    }
}
