﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Private/Student/studentMaster.Master" AutoEventWireup="true" CodeBehind="ConfirmCreate.aspx.cs" Inherits="webAssignmentR.Private.Student.ConfirmCreate" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>
        Project has been Created!</p>
</asp:Content>
