﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Private/Student/studentMaster.Master" AutoEventWireup="true" CodeBehind="EditProfConfirm.aspx.cs" Inherits="webAssignmentR.Private.Student.EditProfConfirm" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <p>
        Your edit has been saved.</p>
</asp:Content>
