﻿.side-bar {
    background-color: white;
    height: 100%;
    transition:0.2s all;
    overflow-x: hidden;
}

.sideBar ul {
    border-right: 1px solid purple;
    height: 100%;
}
#topSection {
    background-color: #1C0C4E;
    padding: 40px;
}

#topSection h1 {
    color: white;
    font-size: 30px;
}

.nav-item {
    list-style: none;
    margin: 10px;
}

.nav-item > ul {
    margin-top: 30px;
}

.nav-item > a {
    color: #1C0C4E;
}

.btn {
    font-size: 35px;
}

.btn::before {
    content: "\f0c9";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.btnc::before {
    content: "\f00d";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.active {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    font-weight: bold;
}

