﻿.form-wrapper {
    width: 100%;
    height: 100%
}

.header {
    margin-bottom: 40px;
}

.content-wrapper {
    background-color: white;
    float: right;
    overflow-y: scroll;
    height: 100vh;
}

h1 {
    color: #302384;
    font-weight: bold;
}

p {
    font-size: 14px;
    color: #302384;
}


.canvas {
    float: left;
    background-color: #F6F0FF;
    border-radius: 15px;
    border: 0.3px #302384 solid;
    padding: 15px;
    color: #302384;
}

.canvas input {
    border-style: none;
    border-color: inherit;
    border-width: medium;
    border-radius: 3px;
    margin-bottom: 20px;
    height: 37px;
}

.row > div {
    text-overflow: ellipsis;
}
table {
    width: 100%;
}
td, table, th {
    border: none;
    color: #302384;
}

th {
    font-weight: 600;
}

td, th {
    border-bottom: solid 1px #302384;
}
