﻿.navbar-nav .nav-item .nav-link {
    color: #944DD3;
    font-size: 24px;
}

.customNav{
    justify-content:space-around;
}



.customNav .nav-item .loginBtn {
    color: white;
    background-color: #1C0C4E;
    width: 150px;
    text-align: center;
    border-radius: 10px;
}


