﻿.form-inline .searchBar{
    width:1000px;
    background-color:transparent;
    border:2px solid white;
}

.form-inline{
    flex-flow:row;
    margin-top:100px;
    width:100%;
}

.profile-image {
    border-radius: 50px;
}

td a {
    font-size: 20px;
}

td img {
    width: 100px;
    border-radius: 50px;
}
