﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Private/Parent/parentMaster.Master" AutoEventWireup="true" CodeBehind="editProfile.aspx.cs" Inherits="webAssignmentR.Private.Parent.editProfile" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <link href="allParentPages.css" rel="stylesheet" />

    <h1>Request to view portfolio<asp:Label ID="Label1" runat="server" Text="Label"></asp:Label>
    </h1>

</asp:Content>
